In [1]:
import urllib.request
from urllib.parse import urlencode, quote_plus, unquote

In [2]:
from urllib.request import urlopen
from bs4 import BeautifulSoup
import pandas as pd
import xml.etree.ElementTree as ET
import json
import pandas as pd 
from pandas.io.json import json_normalize

In [3]:
decode_key = unquote('9CRAR2ZCISRgiE1cSZzKU6sqxWAa9zGe7Q6Gz5cC3iTOms0lv650qsli5wDJIf4%2Fds1EqNJnJqAsdbdklpj7MA%3D%3D')
print(decode_key)
servicekey = '9CRAR2ZCISRgiE1cSZzKU6sqxWAa9zGe7Q6Gz5cC3iTOms0lv650qsli5wDJIf4%2Fds1EqNJnJqAsdbdklpj7MA%3D%3D'

9CRAR2ZCISRgiE1cSZzKU6sqxWAa9zGe7Q6Gz5cC3iTOms0lv650qsli5wDJIf4/ds1EqNJnJqAsdbdklpj7MA==

In [4]:
url = 'http://61.43.246.153/openapi-data/service/BusanSmarttraffic/smartTrafficList'

In [15]:
queryParams = '?' + urlencode({quote_plus('ServiceKey') : decode_key,
                               quote_plus('searchDate') : 20201230,
                               quote_plus('InterSection') : '대남교차로',
                               #quote_plus('direction') : '대남교차로'
                              })

In [16]:
req = urllib.request
body = req.urlopen(url + queryParams)
req.get_method = lambda: 'GET'
response_body = body.read()
html = response_body

In [17]:
request = urllib.request.Request(url+unquote(queryParams))

print ('Your Request:\n'+url+queryParams)

Your Request:
http://61.43.246.153/openapi-data/service/BusanSmarttraffic/smartTrafficList?ServiceKey=9CRAR2ZCISRgiE1cSZzKU6sqxWAa9zGe7Q6Gz5cC3iTOms0lv650qsli5wDJIf4%2Fds1EqNJnJqAsdbdklpj7MA%3D%3D&searchDate=20201230&InterSection=%EC%9A%A9%EC%86%8C%EC%82%BC%EA%B1%B0%EB%A6%AC?ServiceKey=9CRAR2ZCISRgiE1cSZzKU6sqxWAa9zGe7Q6Gz5cC3iTOms0lv650qsli5wDJIf4%2Fds1EqNJnJqAsdbdklpj7MA%3D%3D&searchDate=20201230&InterSection=%EB%8C%80%EB%82%A8%EA%B5%90%EC%B0%A8%EB%A1%9C

In [18]:
url = url + queryParams

In [19]:
url

'http://61.43.246.153/openapi-data/service/BusanSmarttraffic/smartTrafficList?ServiceKey=9CRAR2ZCISRgiE1cSZzKU6sqxWAa9zGe7Q6Gz5cC3iTOms0lv650qsli5wDJIf4%2Fds1EqNJnJqAsdbdklpj7MA%3D%3D&searchDate=20201230&InterSection=%EC%9A%A9%EC%86%8C%EC%82%BC%EA%B1%B0%EB%A6%AC?ServiceKey=9CRAR2ZCISRgiE1cSZzKU6sqxWAa9zGe7Q6Gz5cC3iTOms0lv650qsli5wDJIf4%2Fds1EqNJnJqAsdbdklpj7MA%3D%3D&searchDate=20201230&InterSection=%EB%8C%80%EB%82%A8%EA%B5%90%EC%B0%A8%EB%A1%9C'

In [20]:
response = urllib.request.urlopen(url) 
json_str = response.read().decode("utf-8")

In [21]:
tree = ET.ElementTree(ET.fromstring(json_str))

note = tree.getroot()

In [22]:
df = pd.DataFrame(
        {"시간" : [0],
         "직진" : [0],
         "좌회전":[0],
        "우회전":[0]})
df

   시간  직진  좌회전  우회전
0   0   0    0    0

In [28]:
tt=[]
go=[]
left=[]
right=[]
for i in note.iter("clctDt"):
    time = i.text
    tt.append(time)
for i in note.iter("lrgGoTfvl"):
    time = i.text
    go.append(time)
for i in note.iter("lrgLeftTfvl"):
    time = i.text
    left.append(time)
for i in note.iter("lrgRghtTfvl"):
    time = i.text
    right.append(time)

In [29]:
tt

[]

In [26]:
for i in range(1):
    df.loc[i] = tt[i],go[i],left[i],right[i]
    print("시간  ", tt[i], "직진  ", go[i], "좌회전  ",left[i],"우회전  ", right[i] )

IndexError: list index out of range

In [23]:
df

   시간  직진  좌회전  우회전
0   0   0    0    0